body {
  padding: 0;
  margin: 0;
  height: 100vh;
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main {
  width: 90%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.query {
  display: flex;
  width: 100%;
  max-width: 500px;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.query input {
  flex: 1;
  padding: 12px;
  font-size: 18px;
  border: 1px solid black;
  border-radius: 10px;
  outline: none;
}

.search {
  width: 60px;
  height: 60px;
  transition: transform 0.3s ease;
  border: 0;
  outline: 0;
  border-radius: 50%;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search:hover {
  transform: scale(1.10);
}

.display {
  text-align: center;
  margin-top: 20px;
  width: 100%;
}

.temperature {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.weathericon img {
  width: 150px;
  height: 150px;
}

.details {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 500px;
  margin-top: 20px;
  justify-content: space-between;
  gap: 10px;
}

.details div {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 10px;
  min-width: 48%;
  background: rgba(255, 255, 255, 0.2);
  padding: 12px;
  border-radius: 10px;
  text-align: center;
  justify-content: center;
}

.details img {
  width: 35px;
  height: 35px;
}

.details span {
  display: flex;
  gap: 5px;
  align-items: center;
}

.details h4 {
  font-size: 16px;
  margin: 0;
}

.details p {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: black;
}

.hidden {
  display: none;
}

@media (min-width: 1024px) {
  .main {
    max-width: 650px;
  }
  .query {
    max-width: 550px;
  }
  .details {
     justify-content: center;
    max-width: 600px;
  }
  .details div {
    min-width: 48%;
  }
}

@media (max-width: 1023px) {
  .main {
    width: 95%;
  }
  .query {
    width: 100%;
  }
  .details {
    justify-content: center;
  }
  .details div {
    min-width: 48%;
  }
}

/* Mobile Screens */
@media (max-width: 768px) {
  .query {
    flex-direction: column;
    width: 90%;
  }
  .query input {
    width: 100%;
    text-align: center;
  }
  .search {
    width: 50px;
    height: 50px;
  }
  .details {
    flex-direction: column;
    align-items: center;
  }
  .details div {
    width: 100%;
    min-width: unset;
  }
}
