body{
  padding:0;
  margin:0 auto;
  height:100vh;
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  color:black;
  padding-top:30px;
} 
.search {
  width:60px;
  height:60px;
  transition: transform 0.3s ease;
  border:0;
  outline:0;
  border-radius:50%;
  background:0;
  margin-top:-15px;
}
.search:hover{
  transform:scale(1.10);
}

.main{
  min-width:600px;
  display:flex;
  flex-direction:column;
  justify-content: space-between;
  margin:0 auto;
}
.query{
  display:flex;
  justify-content:space-around;
  width:500px;
  height:100px;
  padding:20px;
  margin:0 auto;
  margin-top: 30px;
}
.query input{
  border:1px solid black;
  outline:0;
  border-radius:10px;
  height:35px;
  width:300px;
  margin-right:20px;
}
.temperature{
  min-height:300px;
  padding:20px;
  display:flex;
  flex:1;
  flex-direction: column;
  justify-content: space-between;
}
.display div,h1,h2{
  margin:0 auto;
}
.weathericon img{
width:200px;
height:200px;
margin-top:-20px;
}
.details{
  display:flex;
  flex-direction:row;
  justify-content: space-around;
}
.details div{
  width:calc(500/3)px;
  height:100px;
  display:flex;
  flex-direction:row;
}
h4{
  margin-top:15px;
}
.details img{
  width:calc(500/3)-30 px;
  height:100px;
  margin-right:20px;
}
.hidden{
  display:none;
}
span p{
  color:black;
  font-size:medium;
  font-weight:700;
}